/* Emergency.css */
.Emergency-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 80px 0px;
  box-sizing: border-box;
}

.Emergency-header {
  margin-bottom: 120px;
  font-size: 22px;
  font-weight: 700;
}

.Emergency-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EImage {
  margin-bottom: 15px;
  width: 60px;
}

.Emergency-sos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 120px;
  transition: background-color 0.5s;
}

.nested-circles {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inner-circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: #ff0000;
  box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.7);
}

.darkred {
  background-color: #8b0000;
  box-shadow: 0 0 10px 5px rgba(139, 0, 0, 0.7);
}

.sos-icon {
  font-size: 48px;
}

.sos-text {
  font-size: 24px;
  font-weight: bold;
}

.Emergency-cancel {
  background: none;
  border: 2px solid red;
  color: red;
  padding: 10px 40px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.Emergency-cancel:hover {
  background-color: red;
  color: white;
}
