.Report {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.Title {
  display: flex;
  justify-content: space-between; /* Distribute space between items */
  align-items: center;
  width: 100%; /* Ensure title takes full width */
  padding: 0 20px;
  padding-bottom: 20px;
  box-sizing: border-box; /* Include padding in the width calculation */
}

.TitleContainer {
  display: flex;
  justify-content: center;
  flex: 1; /* Ensure it takes up remaining space */
}

.title-svg {
  width: 150px; /* Adjust the width as needed */
  margin-bottom: 10px;
  margin-top: 10px;
}

.context {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure context takes full width */
  padding: 0 20px; /* Add padding to the sides for better spacing */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.smallTitle {
  font-size: 16px;
  color: white;
  margin-top: 25px;
  margin-bottom: 20px;
}

.textarea-container {
  position: relative;
  width: 100%;
}

.textarea_1 {
  padding: 15px 15px;
  width: 100%;
  color: white; /* Ensure text color is white */
  height: 53px;
  border-radius: 10px;
  background-color: gray;
  resize: none;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  margin-bottom: 15px; /* Add margin at the bottom for spacing */
}

.textarea_2 {
  padding: 15px 15px;
  width: 100%;
  color: white; /* Ensure text color is white */
  height: 150px;
  border-radius: 10px;
  background-color: gray;
  resize: none;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  margin-bottom: 15px; /* Add margin at the bottom for spacing */
}

textarea::placeholder {
  color: white; /* Set placeholder color to white */
}

.textarea-container .camera-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-80%);
  pointer-events: none; /* Prevent interaction with the pseudo-element */
}

._button {
  margin-top: 100px;
  width: 100%;
  padding: 10px; /* Add padding for better button size */
  border: none;
  cursor: pointer;
  margin-bottom: 10px; /* Add margin at the bottom for spacing */
  border-radius: 5px;
  background-color: #ce1212;
  color: white;
}

.submitButton_2 {
  width: 70px; /* Adjust width to fit content */
  padding: 5px 10px; /* Adjust padding for better button size */
  margin-left: auto; /* Push the button to the far right */
  border-radius: 15px;
  font-size: 15px;
  background-color: #ce1212;
  color: white;
  cursor: pointer;
}

.submitButton_1 {
  border-radius: 15px;
  color: white;
  width: 50px; /* Adjust width to fit content */
  padding: 5px 10px; /* Adjust padding for better button size */
  margin-left: auto; /* Push the button to the far right */
  background-color: transparent;
}

.MapContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 390px;
  height: 916px;
  z-index: 1000; /* Ensure it is above other elements */
}

.mapFullScreen {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
